<!-- Copyright 2014 - 2020 The Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->{% extends "base.jade" %}

<!-- info: html generated from a .jade -->

{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% load currencyfilter %}

<span>
  <a href="{% url 'history_sells_day' previous_day_fmt %}">&larr; {% trans "Previous" %}</a><span>&nbsp;</span>
  <a href="{% url 'history_sells_month' month_fmt %}">{{ day | date:'F' | title }}</a>
  <span>&nbsp;</span>
</span>
{% if  next_day_fmt %}
<span><a href="{% url 'history_sells_day' next_day_fmt %}">{% trans "Next" %} &rarr;</a>
</span>
{% endif %}

<div id="alerts">
  <div id="success" role="alert" hidden="hidden" class="alert alert-success"></div>
  <div id="warnings"></div>
</div>

<div class="row">
  <div class="col-lg-10">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a>{% trans "Sells" %}</a>
      </li>
      <li role="presentation"><a href="{% url 'history_entries_day' day|date:'Y-m-d'  %}">{% trans "Entries" %}</a>
      </li>
    </ul>
  </div>
</div>

<h3>{{ day | date:'l d F Y' | title }}</h3>

<div  class="row">
  <!-- div plus gros panier (?)-->
  <div class="col-md-4 panel panel-info">
    <div class="panel-heading">{% trans "Cash register" %}</div>
    <div class="panel-body">
      <h4> {{ sells_data.total_price_sold_fmt }} </h4>
      <div>
        <span class="badge badge-info"> {% trans "Books" %} </span>
        <span> {{ sells_data.total_price_sold_books_fmt }} </span>
      </div>
      <div>
        <span class="badge badge-info"> {% trans "Other products" %} </span>
        <span> {{ sells_data.total_price_sold_not_books_fmt }} </span>
      </div>
      {% for it in data_grouped_sells %}
      {% if it.0 != 'book' %}
      <div>
        {{ it.0 }} : {{ it.1.total_sold | currency }}
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="col-md-2 panel panel-info">
    <div class="panel-heading">{% trans "Articles sold" %}</div>
    <div class="panel-body">
      <h4>
        <span>{{ sells_data.nb_cards_sold }}</span>
        {% if  sells_data.nb_cards_returned %}<span>&nbsp; {% trans "Articles returned" %}: {{ sells_data.nb_cards_returned }}</span>{% endif %}
      </h4>

      <span> {% trans "books" %} </span>
      <span> {{ sells_data.nb_books_sold }} </span>

      {% for it in data_grouped_sells %}
      {% if it.0 != 'book' %}
      <div>
        <span> {{ it.0 }} </span>
        <span> {{ it.1.total_sells }} </span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-md-2 panel panel-info">
    <div class="panel-heading">{% trans "Cash register movements" %}</div>
    <div class="panel-body">
      <h4>{{ sells_data.nb_sells }} </h4>

      {% trans "books" %} {{ sells_data.nb_books_sells }}

      {% for it in data_grouped_sells %}
      {% if it.0 != 'book' %}
      <div>
        {{ it.0 }} {{ it.1.nb_sells }}
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="col-md-2 panel panel-info">
    <div class="panel-heading">{% trans "Average basket" %}</div>
    <div class="panel-body">
      <h4>
        {{ sells_data.sell_mean_fmt }}
      </h4>
      <span> {% trans "books" %} </span>
      <span> {{ sells_data.books_sell_mean | currency }} </span>

      {% for it in data_grouped_sells %}
      {% if it.0 != 'book' %}
      <div>
        <span> {{ it.0 }} </span>
        <span> {{ it.1.sell_mean | currency }} </span>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="col-md-2 panel panel-info">
    <div class="panel-heading">{% trans "Best sells" %}</div>
    <div class="panel-body">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
        {% trans "Best sells" %}
      </button>
    </div>
  </div>
</div>



<table class="table table-condensed">
  <!-- better: iterate over sells, and iterate over soldcards.-->
  <thead>
    <th>{% trans "Transaction" %}</th>
    <th></th>
    <th>{% trans "Title" %}</th>
    <th>{% trans "Publisher" %}</th>
    <th>{% trans "Price sold" %}</th>
    <th></th>
    <th class="text-right">{% trans "Total" %}</th>
    <th>{% trans "Payment" %}</th>
    <th>{% trans "Client" %}</th>
    <th></th>
    <th></th>
  </thead>

  {% for it,bg_color,payment,new_sell,sell_id in data %}
  <tr style="background-color: {{ bg_color }}" id="sell{{ sell_id }}">
    <td>{{ it.pk }}</td>
    <td>{{ it.created | date:'H:i' }} </td>
    <td>&nbsp;<a href="{{ it.card.get_absolute_url }}">{{ it.card.title }}</a>

      {% if it.card.card_type.name != 'book' %}
      ({{ it.card.card_type }})
      {% endif %}

    </td>
    <td>{{ it.card.pubs_repr }}</td>
    <td class="text-right">{{ it.price_sold_fmt }}</td>
    <td>
      {% if  it.quantity != 1 %}
      <span {% if it.quantity < 0 %} style="background-color: yellow" {% endif %}>
        &nbsp;x {{ it.quantity }}
      </span>
      {% endif %}
    </td>
    <td>{% if  new_sell %}<span>{{ it.sell.total_price_sold_fmt }}</span>{% endif %}
    </td>
    <td>
      {{ payment }}
    </td>
    <td>
      {% if  it.sell.client %}
      <div href="#" title="{{ it.sell.client.name }}, {{ it.sell.client.firstname }}">{{ it.sell.client.name | truncatechars:9 }}</div>
      {% endif %}
    </td>

    <td>
      <div class="btn-group", style="margin-left: 1em" data-comment="copied from card_show">
        <a class="btn btn-warning" title='{% trans "Remember to command this card. Add it to the list for later." %}' onclick="card_command({{ it.card.pk }})">
          <i class="glyphicon glyphicon-shopping-cart"> </i>
          <span> x
            <span id="nb_to_command_{{ it.card.pk }}"> {{ it.card.quantity_to_command }}
            </span>
          </span>
        </a>
      </div>
    </td>

    <td>
      {% if  new_sell %}
      <div onclick="sellUndo({{ sell_id }})" title="{% trans "Cancel a sell" %}" class="mouse-pointer glyphicon glyphicon-remove"></div>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"> {% trans "Best sells" %} </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h4>  </h4>
        <h5> {% trans "Books" %} </h5>
        <table class="table">
        {% for it in best_sells.book %}
        <tr>
          <td>
            <a href="{{it.0.get_absolute_url}}")> {{ it.0.title }} </a>
          </td>
          <td> {{ it.1 }} </td>
        </tr>
        {% endfor %}
        </table>

        {% for other in best_sells.items %}
        {% if other.0 != 'book' %}
        {% if other.1 %}
        <h5> {{ other.0 }} </h5>
        <table class="table">
        {% for it in other.1 %}
          <tr>
            <td>
              <a href="{{it.0.get_absolute_url}}")> {{ it.0.title }} </a>
            </td>
            <td> {{ it.1 }} </td>
          </tr>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
