<!-- Copyright 2014 - 2020 The Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->{% extends "base.jade" %}

<!-- info: html generated from a .jade -->

{% block pagetitle %}
{{ title }}
{% endblock %}

{% block content %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% load currencyfilter %}
{% load ngfilter %}

<div class="row">
  <h3 class="col-md-4"> {% trans "Reservations" %} ({{ nb_reservations }})</h3>
</div>
<div>
  <a class="btn btn-default" href="http://abelujo.cc/docs/clients/" target="_blank" title=''{% trans "Read the documentation" %}'>
    <i class="glyphicon glyphicon-question-sign">
    </i>
  </a>
</div>

<div class="container">
  {% for client_reservations in reservations %}
  {% with client=client_reservations.0 reservations=client_reservations.1 %}
  <div class="row">
    <div class="col-md-4">
      <h4>
        <a href="{{ resa.client.get_absolute_url }}">
          {{ client }}
        </a>
      </h4>

      <div>
        {{ client.mobilephone }}
      </div>

      <div>
        {{ client.email }}

        {% if client.email %}
        <a href="mailto:{{ client.email }}?subject={% trans 'Your reservation has arrived' %}&body={{ client.reservation_email_body }}">
          <i class="glyphicon glyphicon-envelope" title="{% trans 'Write to' %}  {{ client}} {% trans ' with your desktop mail client' %}" style="margin-left: 1em">
          </i>
        </a>
        {% endif %}
      </div>

    </div>

    <div class="col-md-8">
      {% for resa in reservations %}
      <div id="resa-{{ resa.pk }}" class="row">
        <div class="col-md-8">

          <a href="{{ resa.card.get_absolute_url }}">
            <h4> {{ resa.card.title }} </h4>
          </a>

          <div style="clear: both">
            <div style="float: left"> {{ resa.card.pubs_repr }} </div>
            <div  style="color: grey"> &nbsp; {{ resa.card.isbn }} </div>
          </div>

          <div> {{ resa.card.price_fmt }} </div>

        </div>


        <div class="col-md-3">
          {% if resa.is_quite_old %}
          <div style="color: darkorange"> {{ resa.created }} </div>
          {% else %}
          <div> {{ resa.created }} </div>
          {% endif %}
        </div>

        <div class="col-md-1">
          <a class="btn btn-default"
              id="remove-card-{{ resa.card.pk }}"
              hx-post="/api/card/{{ resa.card.pk }}/cancelreservation/{{ resa.client.pk}}"
              hx-target="#resa-{{ resa.pk }}"
          >
            <i class="glyphicon glyphicon-remove"> </i>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  {% endwith %}
  {% endfor %}
</div>

{% endblock content %}
